.textBlue {
    color: blue;
  }
  .textRed {
    color: red;
  }
  .container1{
    background-color: gray;
  }
  .container2{
    background-color: brown;
  }
  .container3{
    background-color: orange;
  }